.section-edu {
  margin-bottom: 60px;
}

.section-edu h2 {
  font-size: 28px;
  color: var(--accent);
  margin-bottom: 20px;
}

.card {
  color: var(--text-color);
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px var(--hover);
}

.about-highlights {
  margin-top: 15px;
  padding-left: 20px;
  list-style: disc;
}

.about-highlights li {
  margin-bottom: 10px;
  font-size: 17px;
  /* color: var(--text-light); */
}
