.section-edu {
  margin-bottom: 60px;
}

.section-edu h5 {
  color: var(--accent);
  margin-bottom: 20px;
}
.section-edu h2 {
  font-size: 28px;
  color: var(--accent);
  margin-bottom: 20px;
  text-align: center;
}

.card {
  color: var(--text-color);
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px var(--hover);
}
