.home-container {
  height: 300px;
  color: var(--text-color);
}

.home-content h2 {
  padding: 5px;
  padding-top: 50px;
}

.home-content h1 {
  padding: 5px;
  padding-top: 5px;
  color: var(--accent);
}

.home-button {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 16px;
}

.btn-hire,
.btn-resume {
  width: 200px;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.btn-hire {
  background-color: pink;
  color: #1e1e2f;
}

.btn-resume {
  background-color: #f29f67;
  color: #1e1e2f;
}

.btn-hire:hover,
.btn-resume:hover {
  background-color: #16a34a;
  transform: translateY(-2px);
}

.theme-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  color: #1e1e2f;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.theme-btn:hover {
  transform: scale(1.05);
  background-color: #f0803c;
}
