.sidebar-section {
  display: flex;
}
.sidebar {
  width: 90px;
  height: 100vh;
  background-color: #0de3cd;
}
.sidebar-toggle {
  width: 230px;
  height: 100vh;
  background-color: #0de3cd;
}
.icon {
  display: flex;
  align-items: right;
  cursor: pointer;
  justify-content: right;
}
.icon p svg {
  color: beige;
  background-color: #f29f67;
  margin-top: 30px;
}
