.profile-pic {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin: 10px auto 20px auto;
}

.nav-item {
  margin: 15px 0;
  transition: background var(--transition-speed);
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-light);
  padding: 10px 20px;
  border-radius: 8px;
  transition: var(--transition-speed);
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--hover);
  transform: translateX(5px);
}

.nav-link svg {
  margin-right: 10px;
}

.menu-collapsed .nav-link {
  justify-content: center;
  padding: 12px;
}

.menu-collapsed .nav-link:hover {
  background-color: var(--hover);
  border-radius: 8px;
}

.active > .nav-link {
  background-color: var(--active) !important;
  border-left: 3px solid var(--accent);
  color: var(--text-color) !important;
  font-weight: bold;
}

.nav-link:hover:not(.active > .nav-link) {
  background-color: var(--hover);
  transform: translateX(5px);
}

.menu-collapsed .active > .nav-link {
  border-left: none;
  border-bottom: 3px solid var(--accent);
}
